@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,100;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.login{
    border: 2px solid black;
    width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 20%;
    padding: 5% 5%;
    background-color: tomato;
} 


form {
    border: 0.2vw solid black;
    background-color: burlywood;
    width: 35%;
    margin-left: 2%;

};



h2 {
    color: blue;
    font-size: 0.2vw;

}
h3 {
    color: red;
}
main {
    height: 100%;
    width: 100%;
    border: 0.4vw solid black;
    border-radius: 10%;
}
div {
    height: 55%;
    width: 50%;
    border: 0.4vw solid;
    position: absolute;
    top: 35%;
    transform: translate(95%, -50%);
    background-color: rgb(86, 86, 87);
   
   
    
}
div div {
    height: 35%;
    width: 99%;
    border: 0.4vw solid;
    position: absolute;
    top: 35%;
    transform: translate(0, -45%);
    background-color: aliceblue;
    
}

div#Cuina{
    background-color: darkmagenta;
}

div#Habitacio\ 1{
    background-color:seagreen
} 

div#Habitacio\ 2{
    background-color: rgb(62, 218, 14);
}

div#Pasadis{
    background-color:rgb(196, 196, 44)
} 

div#Servidors{
    background-color:rgb(10, 63, 50)
} 

div#Menjador{
    background-color:rgb(70, 129, 75)
} 

div#Labavo{
    background-color:rgb(180, 145, 145)
} 

#Dades\ del\ mes {
    height: 35%;
    width: 99%;
    border: 5px solid;
    position: absolute;
    top: 80%;
    transform: translate(0, -45%);
    background-color: aliceblue;

}

#Dades\ del\ mes table{
    height: 55%;
    width: 99%;
    font-size: 0.9vw;
}

div div table{
    height: 45%;
    width: 99%;
    font-size: 0.9vw;
}
.selectedClass {
 background-color: red;
    
}

header{
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    

}

header h3 {
    text-align: left;
    font-size: 30px;
    margin-top: 0%;
    height: 40px;
    padding-left: 1%;
}
body {
    background-color: rgb(124, 243, 243);
    text-align: center;
    margin: 0%;
}
li {
    text-align: center;
    list-style: none;
}
th {
    text-align: center;
    background-color: whitesmoke;
}
td {
    text-align: center;
    border: 2px;
    background-color: dimgrey;
    
}

label {
    font-weight: bold;
}

.button {
    border-radius: 40%;
    font-weight: bold;
    background: pink;
    border: 2px outset salmon;
}

img {
    border-radius: 50%;
}

.goodLog{
    color: green;
    text-align: left;
}

.badLog{
    color: red;
    text-align: left;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
    box-sizing: border-box;
    
}

.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    
   
}

.tg .tg-0pky{
    border-color:inherit;
    padding: 12% 0%;
    

}

table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

