@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,100;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

form {
    border: 2px solid black;
    width: max-content;
};

.login{
    border: 2px solid black;
    width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: blue;
}
h3 {
    color: red;
}
main {
    height: 100%;
    width: 100%;
    border: 3px solid black;
    border-radius: 10%;
}
div {
    height: 600px;
    width: 1000px;
    border: 5px solid;
    position: absolute;
    top: 33%;
    transform: translate(45%, -45%);
    
   
   
    
}

div div {
    height: 250px;
    width: 1000px;
    border: 5px solid;
    position: absolute;
    top: 30%;
    transform: translate(0, -45%);
    
}

body {
    background-color: rgb(124, 243, 243);
    text-align: center;
}
li {
    text-align: center;
    list-style: none;
}
th {
    text-align: center;
    background-color: whitesmoke;
}
td {
    text-align: center;
    border: 2px;
    background-color: dimgrey;
    
}

label {
    font-weight: bold;
}

.button {
    border-radius: 40%;
    font-weight: bold;
    background: pink;
    border: 2px outset salmon;
}

img {
    border-radius: 50%;
}

.goodLog{
    color: green;
    text-align: left;
}

.badLog{
    color: red;
    text-align: left;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
    
}

.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:20px 20px;
    word-break:normal;
    height: 100px;
}

.tg .tg-0pky{
    border-color:inherit;
    text-align:left;
    vertical-align:top;

}

table{
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    
}